/* Global =================================================================== */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --color-main: #f9f7e8;
  --color-text: #333;
  --color-blue: #243b55;
  --color-dark: #ddd;
}

body {
  height: 100vh;
  max-width: 1114px;
  margin: 0 auto;
  font-family: "Caveat", cursive;

  display: grid;
  grid-template-rows: 100px 1fr 200px;
}


/* Header =================================================================== */
.header {
  height: 100px;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

/* Scrollbar ================================================================ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Section inputString ====================================================== */
.container {
  overflow: auto;
}

.container ::-webkit-scrollbar {
  display: none;
}

.inputString {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 90%;
}

.pasteText {
  height: 25vh;
  width: 100%;
  margin: 8px 0;
  padding: 8px;

  color: var(--color-text);
  border: 1px solid var(--color-dark);
  outline: none;
  resize: none;
}

.pasteText:focus {
  border: 1px solid rgb(95, 44, 130);
}

.countWords {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;

  font: 600 1.2rem "Caveat", sans-serif;
  color: var(--color-main);
  background: linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157));
  border: 1px solid var(--color-dark);

  cursor: pointer;
  transition: 0.5s;
}
.countWords:hover {
  opacity: 0.7;
}

/* Table ==================================================================== */
table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  font: 400 0.8rem "Roboto", sans-serif;
}

th {
  border: 1px solid var(--color-blue);
  padding: 8px 8px;
  text-align: center;
  background-color: var(--color-blue);
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: var(--color-dark);
}

td {
  padding: 8px;
  border: 1px solid var(--color-dark);
}

/* Footer =================================================================== */
.footer {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font: 400 1rem "Roboto", sans-serif;
}

.footer i { 
  color: var(--color-blue);
}

.presentation a {
  text-decoration: none;
  color: var(--color-blue);
}

.icons a{
  text-decoration: none;
  color: var(--color-blue);
  padding: 15px;
}
