/* Global =================================================================== */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  max-width: 1114px;
  margin: 0 auto;
  font-family: "Caveat", cursive;

  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
}

:root {
  --color-main: #f9f7e8;
  --color-text: #333;
  --color-accent: #243b55;
  --color-dark: #ddd;
  --width-max: 30rem;
}

/* Header =================================================================== */
.header {
  height: 100px;
  text-align: center;
  padding: 20px;
  font-size: 20px;

  grid-area: header;
}

/* Scrollbar ================================================================ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Section inputString ====================================================== */
.container {
  grid-area: main;
  overflow: auto;
}

.inputString {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 90%;
}

.pasteText {
  height: 30vh;
  width: 100%;
  margin: 8px 0;
  padding: 8px;

  color: var(--color-text);
  border: 1px solid var(--color-dark);
  outline: none;
  resize: none;
}

.pasteText:focus {
  border: 1px solid rgb(95, 44, 130);
}

.countWords {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;

  font: 600 20px "Caveat", sans-serif;
  color: var(--color-main);
  background: linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157));
  border: 1px solid var(--color-dark);

  cursor: pointer;
  transition: 0.5s;
}
.countWords:hover {
  opacity: 0.7;
}

/* Table ==================================================================== */
table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  font: 400 14px "Roboto", sans-serif;
}

th {
  border: 1px solid var(--color-accent);
  padding: 0.5rem 0.5rem;
  text-align: center;
  background-color: var(--color-accent);
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: var(--color-dark);
}

td {
  padding: 0.5rem;
  border: 1px solid var(--color-dark);
}

/* Footer =================================================================== */
.footer {
  grid-area: footer;
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 40px;
  margin-right: 2rem;
}

.footer i {
  color: #7d2fa3;
}

.footer strong {
  color: #7d2fa3;
}
